%p
  %b
    From email:
  = h @cootie.from_email
%p
  %b
    To email:
  = h @cootie.to_email
%p
  %b
    Fortune1:
  = h @cootie.fortune1
%p
  %b
    Fortune2:
  = h @cootie.fortune2
%p
  %b
    Fortune3:
  = h @cootie.fortune3
%p
  %b
    Fortune4:
  = h @cootie.fortune4
%p
  %b
    Fortune5:
  = h @cootie.fortune5
%p
  %b
    Fortune6:
  = h @cootie.fortune6
%p
  %b
    Fortune7:
  = h @cootie.fortune7
%p
  %b
    Fortune8:
  = h @cootie.fortune8
%p
  %b
    Pickedup:
  = h @cootie.pickedup
= link_to 'Edit', edit_cooty_path(@cootie)
|
= link_to 'Back', cooties_path
